:root{
    margin:0;
}

body {
    background: linear-gradient(90deg, #5a189a, #00ff57);
    font-family: "Segoe UI", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    width: 100%;
}

header img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

h1 {
    margin: 1rem 0 0.5rem;
}

p {
    margin: 0 1rem 2rem;
    max-width: 600px;
}

iframe {
    width: 100%;
    max-width: 640px;
    height: 1300px;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
}